venv/
myvenv/
env/
ENV/
__pycache__/
*.py[cod]

db.sqlite3

staticfiles/

*.env
.env

.vscode/
.idea/

*.log

*/migrations/*.pyc
*/migrations/__pycache__/

__pycache__/

Pipfile.lock
requirements.lock
